:root {
    --ck-color-base-foreground: hsl(0, 0%, 90%) !important;
    --ck-color-base-background: hsl(0, 0%, 10%) !important;
    --ck-color-base-border: hsl(220, 6%, 30%) !important;
    --ck-color-base-action: hsl(104, 50%, 42%) !important;
    --ck-color-base-focus: hsl(209, 92%, 60%) !important;
    --ck-color-base-text: hsl(0, 0%, 95%) !important;
    --ck-color-base-active: hsl(218, 100%, 50%) !important;
    --ck-color-base-active-focus: hsl(218, 100%, 45%) !important;
    --ck-color-base-error: hsl(15, 100%, 50%) !important;

    /* -- Generic colors ------------------------------------------------------------------------ */

    --ck-color-focus-border-coordinates: 218, 81%, 50% !important;
    --ck-color-focus-border: hsl(var(--ck-color-focus-border-coordinates)) !important;
    --ck-color-focus-outer-shadow: hsl(212, 89%, 20%) !important;
    --ck-color-focus-disabled-shadow: hsla(209, 90%, 20%, 0.3) !important;
    --ck-color-focus-error-shadow: hsla(9, 100%, 50%, 0.3) !important;
    --ck-color-text: var(--ck-color-base-text) !important;
    --ck-color-shadow-drop: hsla(0, 0%, 0%, 0.7) !important;
    --ck-color-shadow-drop-active: hsla(0, 0%, 0%, 0.8) !important;
    --ck-color-shadow-inner: hsla(0, 0%, 0%, 0.6) !important;

    /* -- Buttons ------------------------------------------------------------------------------- */

    --ck-color-button-default-background: transparent !important;
    --ck-color-button-default-hover-background: hsl(0, 0%, 20%) !important;
    --ck-color-button-default-active-background: hsl(0, 0%, 20%) !important;
    --ck-color-button-default-disabled-background: transparent !important;

    --ck-color-button-on-background: hsl(212, 100%, 30%) !important;
    --ck-color-button-on-hover-background: hsl(211, 100%, 25%) !important;
    --ck-color-button-on-active-background: hsl(211, 100%, 25%) !important;
    --ck-color-button-on-disabled-background: hsl(211, 15%, 35%) !important;
    --ck-color-button-on-color: hsl(218, 100%, 50%) !important;

    --ck-color-button-action-background: var(--ck-color-base-action) !important;
    --ck-color-button-action-hover-background: hsl(104, 53%, 35%) !important;
    --ck-color-button-action-active-background: hsl(104, 53%, 35%) !important;
    --ck-color-button-action-disabled-background: hsl(104, 44%, 40%) !important;
    --ck-color-button-action-text: var(--ck-color-base-background) !important;

    --ck-color-button-save: hsl(120, 100%, 30%) !important;
    --ck-color-button-cancel: hsl(15, 100%, 40%) !important;

    --ck-color-switch-button-off-background: hsl(0, 0%, 40%) !important;
    --ck-color-switch-button-off-hover-background: hsl(0, 0%, 30%) !important;
    --ck-color-switch-button-on-background: var(
        --ck-color-button-action-background
    ) !important;
    --ck-color-switch-button-on-hover-background: hsl(104, 53%, 35%) !important;
    --ck-color-switch-button-inner-background: var(--ck-color-base-background) !important;
    --ck-color-switch-button-inner-shadow: hsla(0, 0%, 0%, 0.5) !important;

    /* -- Dropdown ------------------------------------------------------------------------------ */

    --ck-color-dropdown-panel-background: var(--ck-color-base-background) !important;
    --ck-color-dropdown-panel-border: var(--ck-color-base-border) !important;

    /* -- Dialog -------------------------------------------------------------------------------- */

    --ck-color-dialog-background: var(--ck-color-base-background) !important;
    --ck-color-dialog-form-header-border: var(--ck-color-base-border) !important;

    /* -- Input --------------------------------------------------------------------------------- */

    --ck-color-input-background: var(--ck-color-base-background) !important;
    --ck-color-input-border: var(--ck-color-base-border) !important;
    --ck-color-input-error-border: var(--ck-color-base-error) !important;
    --ck-color-input-text: var(--ck-color-base-text) !important;
    --ck-color-input-disabled-background: hsl(0, 0%, 20%) !important;
    --ck-color-input-disabled-border: var(--ck-color-base-border) !important;
    --ck-color-input-disabled-text: hsl(0, 0%, 50%) !important;

    /* -- List ---------------------------------------------------------------------------------- */

    --ck-color-list-background: var(--ck-color-base-background) !important;
    --ck-color-list-button-hover-background: var(
        --ck-color-button-default-hover-background
    ) !important;
    --ck-color-list-button-on-background: var(--ck-color-button-on-color) !important;
    --ck-color-list-button-on-background-focus: var(
        --ck-color-button-on-color
    ) !important;
    --ck-color-list-button-on-text: var(--ck-color-base-background) !important;

    /* -- Panel --------------------------------------------------------------------------------- */

    --ck-color-panel-background: var(--ck-color-base-background) !important;
    --ck-color-panel-border: var(--ck-color-base-border) !important;

    /* -- Toolbar ------------------------------------------------------------------------------- */

    --ck-color-toolbar-background: var(--ck-color-base-background) !important;
    --ck-color-toolbar-border: var(--ck-color-base-border) !important;

    /* -- Tooltip ------------------------------------------------------------------------------- */

    --ck-color-tooltip-background: var(--ck-color-base-text) !important;
    --ck-color-tooltip-text: var(--ck-color-base-background) !important;

    /* -- Engine -------------------------------------------------------------------------------- */

    --ck-color-engine-placeholder-text: hsl(0, 0%, 50%) !important;

    /* -- Upload -------------------------------------------------------------------------------- */

    --ck-color-upload-bar-background: hsl(209, 92%, 60%) !important;

    /* -- Link -------------------------------------------------------------------------------- */

    --ck-color-link-default: hsl(240, 100%, 50%) !important;
    --ck-color-link-selected-background: hsla(201, 100%, 40%, 0.3) !important;
    --ck-color-link-fake-selection: hsla(201, 100%, 40%, 0.5) !important;

    /* -- Search result highlight ---------------------------------------------------------------- */

    --ck-color-highlight-background: hsl(60, 100%, 30%) !important;

    /* -- Generic colors ------------------------------------------------------------------------- */

    --ck-color-light-red: hsl(0, 100%, 30%) !important;
}
